.root {
    -fx-bg: #222831;
    -fx-p: #31363F;
    -fx-s: #EEEEEE;
    -fx-destructive: #ed0c2a;
    -fx-background-color: -fx-bg;
}

.button, .menu-button {
    -fx-background-color: -fx-p;
    -fx-text-fill: -fx-s;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-font-size: 15px;
    -fx-pref-height: 60px;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-padding: 10px;
}

.menu-item:hover {
    -fx-background-color: rgba(0,0,0,0.2);
}

.context-menu {
    -fx-background-color: -fx-p;
    -fx-padding: 0;
    -fx-background-radius: 10px;
}

.context-menu > * > .separator > .line {
    -fx-background-color: -fx-s;
    -fx-border-width: 0;
}

.menu-item .label {
    -fx-text-fill: -fx-s;
}

.menu-item.destructive .label {
    -fx-text-fill: -fx-destructive;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.button-secondary {
    -fx-background-color: transparent;
    -fx-border-color: -fx-p;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: -fx-bg;
}

.scroll-bar .track,
.scroll-bar.track {
    -fx-background-color: -fx-bg;
    -fx-border-color: transparent;
}

.scroll-bar .decrement-button,
.scroll-bar .increment-button {
    -fx-background-color: -fx-bg;
    -fx-border-color: -fx-bg;
    -fx-background-radius: 0;

}

.scroll-bar .thumb {
    -fx-background-color: #585858;
    -fx-background-insets: 3, 0, 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {

}

.scroll-bar:hover .thumb {
    -fx-background-color: #76ABAE;
}

.label {
    -fx-text-fill: -fx-s;
}

.chart-pie {
    -fx-border-color: -fx-bg;
    -fx-border-width: 5px;
}

.tooltip {
    -fx-background-color: -fx-p;
    -fx-text-fill: -fx-s;
    -fx-font-size: 17px;
}