.root {
    -fx-bg: #222831;
    -fx-p: #31363F;
    -fx-pf: #5c6473;
    -fx-s: #EEEEEE;
    -fx-accent: #76ABAE;
    -fx-accentf: #a1c5c7;
    -fx-destructive: #ed0c2a;
    -fx-background-color: -fx-bg;
}

.button, .menu-button {
    -fx-background-color: -fx-p;
    -fx-text-fill: -fx-s;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-font-size: 15px;
    -fx-pref-height: 60px;
}

.menu-item {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-padding: 10px;
}

.menu-item:hover {
    -fx-background-color: rgba(0,0,0,0.2);
}

.context-menu {
    -fx-background-color: -fx-p;
    -fx-padding: 0;
    -fx-background-radius: 10px;
}

.context-menu > * > .separator > .line {
    -fx-background-color: -fx-s;
    -fx-border-width: 0;
}

.menu-item .label {
    -fx-text-fill: -fx-s;
}

.menu-item.destructive .label {
    -fx-text-fill: -fx-destructive;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.button-secondary {
    -fx-background-color: transparent;
    -fx-border-color: -fx-p;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
}

.button-accent {
    -fx-background-color: -fx-accent;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: -fx-bg;
}

.scroll-bar .track,
.scroll-bar.track {
    -fx-background-color: -fx-bg;
    -fx-border-color: transparent;
}

.scroll-bar .decrement-button,
.scroll-bar .increment-button {
    -fx-background-color: -fx-bg;
    -fx-border-color: -fx-bg;
    -fx-background-radius: 0;

}

.scroll-bar .thumb {
    -fx-background-color: #585858;
    -fx-background-insets: 3, 0, 0;
}

.scroll-bar:hover .thumb {
    -fx-background-color: -fx-accent;
}

.label {
    -fx-text-fill: -fx-s;
}

.chart-pie {
    -fx-border-color: -fx-bg;
    -fx-border-width: 5px;
}

.tooltip {
    -fx-background-color: -fx-p;
    -fx-text-fill: -fx-s;
    -fx-font-size: 17px;
}

.color-picker {
    -fx-background-color: -fx-p;
    -fx-pref-height: 40px;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}

.list-view {
    -fx-background-color: -fx-p;
    -fx-background-radius: 10px;
}

.list-view .list-cell {
    -fx-text-fill: -fx-s;
    -fx-pref-height: 50px;
    -fx-background-radius: 10px;
    -fx-font-size: 20px;
}

.list-view .list-cell:even {
    -fx-background-color: -fx-p;
}

.list-view .list-cell:odd {
    -fx-background-color: -fx-bg;
}

.list-view .list-cell:selected {
    -fx-background-color: -fx-accent;
}

.list-cell:filled:hover {
    -fx-cursor: hand;
}

.text-field, .text-area {
    -fx-background-color: -fx-p;
    -fx-border-color: -fx-p;
    -fx-border-width: 0px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-padding: 10px;
    -fx-text-fill: -fx-s;
}

.text-area .content {
    -fx-background-color: -fx-p;
    -fx-padding: 0;
}

.header {
    -fx-pref-height: 100px;
    -fx-min-height: 100px;
    -fx-spacing: 20px;
    -fx-padding: 20px;
    -fx-alignment: center-left;
}

.header .button {
    -fx-pref-height: 60px;
    -fx-pref-width: 60px;
    -fx-background-radius: 100%;
}

.header .label {
    -fx-font-size: 30px;
}

.input-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.8);
}

.input-vbox {
    -fx-spacing: 20px;
    -fx-hgap: 30px;
    -fx-vgap: 20px;
}

.input-component {
    -fx-pref-height: -1;
    -fx-min-height: -1;
    -fx-pref-width: -1;
    -fx-spacing: 10px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.input-component .text-field {
    -fx-border-width: 0;
}

.input-component .label {
    -fx-font-size: 16px;
    -fx-padding: 0;
}

.input-component .color-picker {
    -fx-pref-width: 150px;
}

.input-component-button-container {
    -fx-pref-height: 100px;
    -fx-spacing: 80px;
    -fx-alignment: bottom-center;
}

.input-component-button-container .button {
    -fx-pref-width: 120px;
}

.date-picker {
    -fx-background-color: -fx-p;
    -fx-background-radius: 10px;
}

.date-picker .arrow-button {
    -fx-background-color: -fx-p;
    -fx-background-radius: 10px;

}

.choice-box {
    -fx-background-color: -fx-p;
    -fx-pref-height: 40px;
    -fx-background-radius: 10px;
    -fx-min-height: 40px;
    -fx-padding: 10px;
}

.choice-box .label {
    -fx-font-size: 13px;

}


.link-button {
    -fx-background-color: transparent;
    -fx-max-height: 10px;
    -fx-text-fill: -fx-accent;
    -fx-padding: 0;
}

.destructive-label{
    -fx-text-fill: -fx-destructive;
}

.destructive-input {
    -fx-border-color: -fx-destructive !important;
    -fx-border-width: 1px !important;
}

.agreed-label{
    -fx-text-fill: greenyellow !important;
}

.menu-item:focused, .button:focused, .menu-button:focused,
.choice-box:focused, .text-field:focused, .text-area:focused, .color-picker:focused  {
    -fx-background-color: -fx-pf;
}

.button-accent:focused {
    -fx-background-color: -fx-accentf;
}